@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #a8dadc;
}
main {
  @apply flex justify-center;
}

.btn {
  @apply font-bold bg-white rounded-full text-3xl px-12  py-3 uppercase;
  position: relative;
}

.btn:hover {
  @apply bg-opacity-75;
}
.btn:focus {
  outline: none;
}

.question {
  @apply font-bold text-6xl text-center p-4 bg-white transform uppercase;
  user-select: none;
}

.game-txt-teal {
  color: #a8dadc;
}
.game-txt-red {
  color: #e63946;
}
.game-txt-blue {
  color: #1d3557;
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 14px;
  width: 25px;
}

/* Medium (md) */
@media (min-width: 640px) {
  .icon {
    right: 25px;
  }
}

.correct-icon {
  color: green;
}
.wrong-icon {
  color: red;
}

.star-12 {
  background: #fff;
  width: 80px;
  height: 80px;
  position: relative;
  text-align: center;
}
.star-12:before,
.star-12:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.star-12:before {
  transform: rotate(30deg);
}
.star-12:after {
  transform: rotate(60deg);
}
